################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/IncidentApiTaskA/bin/Debug/net9.0
/IncidentApiTaskA/obj
/IncidentRazorTaskB/bin/Debug/net9.0
/IncidentRazorTaskB/obj
/IncidentConsoleTaskD/.vs/IncidentConsoleTaskD
/IncidentConsoleTaskD/bin/Debug/net9.0
/IncidentConsoleTaskD/obj
